{% extends 'bootstrap/base.html' %}
{% block title %}{{ title_name }}{% endblock %}

{% block content %}
    <table id="table"></table>
    <!--<div class="container">-->
        <!--<h1>Basic Columns</h1>-->
        <!--<table id="table"-->
               <!--data-toggle="table"-->
               <!--data-height="460"-->
               <!--data-url="{{ url_for('exhibitions_list') }}"-->
               <!--data-show-columns="true"-->
               <!--data-id-field="id">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th data-field="locale" data-radio="true"></th>-->
                <!--<th data-field="owner" data-switchable="false">Name</th>-->
                <!--<th data-field="start_time">Price</th>-->
                <!--<th data-field="end_time">Columns1</th>-->
                <!--<th data-field="status" data-visible="false">Columns2</th>-->
                <!--<th data-field="description" data-switchable="false">Columns3</th>-->
            <!--</tr>-->
            <!--</thead>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="container">-->
        <!--<table data-toggle="table" data-url="{{ url_for('exhibitions_list') }}">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th data-field="locale">展会地点</th>-->
                    <!--<th data-field="owner">负责人</th>-->
                    <!--<th data-field="start_time">开始时间</th>-->
                    <!--<th data-field="end_time">结束时间</th>-->
                    <!--<th data-field="status">狀態</th>-->
                    <!--<th data-field="description">描述</th>-->
                <!--</tr>-->
            <!--</thead>-->
        <!--</table>-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>展会地点</th>-->
                <!--<th>负责人</th>-->
                <!--<th>开始时间</th>-->
                <!--<th>结束时间</th>-->
                <!--<th>描述</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody>-->
            <!--{% for exhibition in exhibitions %}-->
            <!--<tr>-->
                <!--<td>{{ exhibition.locale }}</td>-->
                <!--<td>{{ exhibition.owner }}</td>-->
                <!--<td>{{ exhibition.start_time }}</td>-->
                <!--<td>{{ exhibition.end_time }}</td>-->
                <!--<td>{{ exhibition.description }}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
{% endblock content %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('common.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('common.static', filename='css/bootstrap.css')}}">
    <link href="{{ url_for('common.static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('common.static', filename='js/bootstrap-table.js') }}"></script>
<script src="{{ url_for('common.static', filename='js/bootstrap-table-locale/bootstrap-table-zh-CN.js') }}"></script>
<script src="{{ url_for('common.static', filename='js/client.js') }}"></script>
<script src="{{ url_for('common.static', filename='js/jquery-3.3.1.js') }}"></script>
<script>
<!--$(document).ready(function(){-->
    <!--GetJSON("http://127.0.0.1:8080/exhibitions", "",-->
        <!--function(data){-->
            <!--alert(data)-->
        <!--}-->
    <!--)-->
<!--})-->

$(document).ready(function(){
    $('#table').bootstrapTable({
        url: "{{ url_for('exhibitions_list') }}",
        columns: [{
            field: 'id',
            title: 'Item ID'
        }, {
            field: 'locate',
            title: 'Item Name'
        }, {
            field: 'owner',
            title: 'Item Price'
        }, ]
    });
})

<!--$('#table').bootstrapTable({-->
    <!--url: "{{ url_for('exhibitions_list') }}",-->
    <!--columns: [{-->
        <!--field: 'id',-->
        <!--title: 'Item ID'-->
    <!--}, {-->
        <!--field: 'locate',-->
        <!--title: 'Item Name'-->
    <!--}, {-->
        <!--field: 'owner',-->
        <!--title: 'Item Price'-->
    <!--}, ]-->
<!--});-->
</script>
{% endblock scripts %}
